<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Janitri/src/test/java/runnerfile/basetest/BaseTest.java">
        <classes>
            <class name="runnerfile.basetest.BaseTest">
                <methods>
                    <include name="testLoginButtonDisabledWhenFieldAreEmpty"/>
                    <include name="testPasswordMaskedbutton"/>
                    <include name="testInvalidLoginShowErrorMsg"/>
                    <include name="ValidatePresenceOfPageElements"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>